<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar i18n>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="isloggedin()" mat-list-item routerLink="/event/list/upcomming" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Upcomming events</a>
      <a *ngIf="isloggedin()" mat-list-item routerLink="/event/list/last" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Last events</a>
      <a *ngIf="isloggedin()" mat-list-item routerLink="/member/list" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Member list</a>
      <a *ngIf="isloggedin()" mat-list-item routerLink="/event/new" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Add event</a>
      <a *ngIf="isloggedin()" mat-list-item routerLink="/member/new" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Add member</a>
      <a *ngIf="!isloggedin()" mat-list-item routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Login</a>
      <a *ngIf="isloggedin()" mat-list-item (click)="logout()" ariaCurrentWhenActive="page" i18n>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>{{title}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>