[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
django = "*"
pillow = "*"
django-cleanup = "*"
django-browser-reload = "*"
whitenoise = "*"
gunicorn = "*"
django-ical = "*"

[dev-packages]
autopep8 = "*"
djlint = "*"
build = "*"
pytest-django = "*"
python-semantic-release = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
