{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'Login' %}
{% endblock title %}
{% block content %}
    <h1>{% translate 'Login' %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.visible_fields %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <input class="form-control"
                       type="{{ field.html_name }}"
                       id="{{ field.id_for_label }}"
                       name="{{ field.html_name }}"
                       {% if field.value %} value="{{ field.value }}" {% else %} placeholder="{{ field.label }}" {% endif %}
                       required>
            </div>
        {% endfor %}
        <button type="submit">{% translate 'Login' %}</button>
    </form>
{% endblock content %}
