[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
django = '5.1.5'
django-cleanup = '9.0.0'
django-browser-reload = '1.17.0'
django-ical = '1.9.2'
djangorestframework = '3.15.2'
django-cors-headers = '4.6.0'
pillow = '11.1.0'
django-filter = '24.3'
tzdata = '2025.1'
numpy = '2.2.2'
opencv-python = '4.11.0.86'

[dev-packages]
autopep8 = '2.3.2'
djlint = '1.36.4'
build = '1.2.1'
pytest-django = '4.9.0'
python-semantic-release = '9.16.1'
pytest-cov = '6.0.0'

[requires]
python_version = '3.12'
