<app-event-short [event]="event" />
<mat-accordion [multi]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anwesend ({{ getPresent(participations).length }})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      @for (participant of getPresent(participations); track participant) {
        <mat-list-item
          >{{ participant.member.firstname }}
          {{ participant.member.lastname }}</mat-list-item
          >
        }
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Entschuldigt ({{ getExcused(participations).length }})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (participant of getExcused(participations); track participant) {
          <mat-list-item
            >{{ participant.member.firstname }}
            {{ participant.member.lastname }}</mat-list-item
            >
          }
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Unentschuldigt ({{ getAbsent(participations).length }})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          @for (participant of getAbsent(participations); track participant) {
            <mat-list-item
              >{{ participant.member.firstname }}
              {{ participant.member.lastname }}</mat-list-item
              >
            }
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
