{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {{ member.fullname }}
{% endblock title %}
{% block content %}
    <div class="container">{{ member.firstname }}</div>
    <div class="container">{{ member.lastname }}</div>
    <div class="container">
        <a class="btn btn-primary"
           href="{% url 'members:update' member.id %}"
           role="button">{% translate "Edit" %}</a>
    </div>
    <img class="img-fluid img-thumbnail w-25" src="{{ member.image.url }}" />
    <img class="img-fluid img-thumbnail w-25"
         src="{{ member.image_square.url }}"/>
    <img class="img-fluid img-thumbnail w-25"
         src="{{ member.image_passport.url }}"/>
{% endblock content %}
