{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {{ event }}
{% endblock title %}
{% block content %}
    <h1>{{ event }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.management_form }}
        {% for participant in form %}
            {% for hidden in participant.hidden_fields %}{{ hidden }}{% endfor %}
            {{ participant.instance.member }}
            {{ participant.participation }}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
