{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-fire"></i> JFM</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% include 'menu/link.html' with url_name='home' name='Home' icon='house' %}
                {% include 'menu/link.html' with url_name='events:list' name='Events' icon='calendar-week' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="bi bi-list-check"></i> {% translate "Participant List" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-calendar-heart"></i> 5.1.23 Current event title</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-calendar-check"></i> 24.2.23 Next event title</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-calendar-check"></i> 25.2.23 Another next event title</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-calendar-check"></i> 24.12.22 Last event title</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-calendar-check"></i> 31.12.22 Before the last event title</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Statistics</a>
                        </li>
                    </ul>
                </li>
                {% include 'menu/link.html' with url_name='members:list' name='Members' icon='people' %}
                {% include 'menu/link.html' with url_name='home' name='Settings' icon='gear' %}
            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"
                   class="btn btn-primary disable"
                   type="submit">{% translate "Logout" %}</a>
            {% else %}
                <a href="{% url 'login' %}"
                   class="btn btn-primary disable"
                   type="submit">{% translate "Login" %}</a>
            {% endif %}
        </div>
    </div>
</nav>
